[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
django = "*"
django-admin-honeypot = "*"
django-session-timeout = "*"
django-admin-thumbnails = "*"
idna = "*"
pillow = "*"
python-decouple = "*"
requests = "*"
six = "*"
sqlparse = "*"
tzdata = "*"
urllib3 = "*"
django-ckeditor = "*"
gunicorn = "*"
uvicorn = "*"
django-environ = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
