asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==5.1.4
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.9
django-ckeditor==6.7.2
django-environ==0.11.2
django-js-asset==3.0.1
django-session-timeout==0.1.0
gunicorn==23.0.0
h11==0.14.0
idna==3.10
packaging==24.2
pillow==11.1.0
python-decouple==3.8
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
whitenoise==6.8.2
